<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
  </head>
  <body>
    <div class="center">
      <h1>Link enviado</h1>
    
        <center>
            <div class="signup_link" style="padding: 10px;">Se ha enviado el link de reseteo de contraseña a tu email. Recuerda <b>expira en 10 minutos</b>!</div>
        </center>
      
    </div>

  </body>
</html>